In [5]:
from csv import writer
import pandas as pd
from openpyxl import load_workbook

In [6]:
import pandas as pd
import csv
from openpyxl import load_workbook
df=pd.read_csv("D:\Applied.csv")
df.head()

,email,name,phone1,date of birth,11thmilestone,12thmilestone,cutoff,parent name,occupation of the parent,address,city,greencardnumber,College 1,College 2,Selected College,Selected Course
0,Stephen @gmail.com,Stephen Allen,614/977/6768,18-01-2002,Yes,Yes,194.42,Stephen Adams,Information Systems Manager,29 Bowman Ave.,"Lancaster,Ohio",4F8SYIbYMp,"03, Stanford University Stanford","04, University of California, Berkeley Berkeley","03, Stanford University Stanford",18 B.Sc Information Technology
1,Paul B@gmail.com,Paul Back,810/424/3729,18-02-2002,Yes,Yes,168.48,David Allison,dentist,96 Fordham Street,"Palm Springs,California",8gN3Q3o4kP,"20, University of Southern California Los Angeles","18, New York University New York City","18, New York University New York City",10 Instrumentation Engineering
2,eliz.baker@yahoo.com,Elizabeth Baker,762/829/8065,25-02-2002,Yes,Yes,180.14,Andrew Alsop,Business Management Analyst,281 Rockville Drive,"Palm Springs,California",NSIYeRYkMp,"11, Johns Hopkins University Baltimore","12, University of Pennsylvania Philadelphia","11, Johns Hopkins University Baltimore",12 B.Arch Bachelor of Architecture
3,paully@gmail.com,Paul Barnes,617/439/1741,11-03-2002,Yes,Yes,169.14,Waheed Balogun,Agricultural Engineering Technicians,277 Fairfield Street,"Tempe,Arizona",8XuibZqNsp,"18, New York University New York City","19, Princeton University Princeton","18, New York University New York City",18 B.Sc Information Technology
4,elaine.org.in,Elaine Buchan,702/822/2984,23-04-2002,Yes,Yes,165.59,Jonte Baron,Internet Technology Manager,7619 Leatherwood St.,"Gardena,California",NLWh4dfRlW,"18, New York University New York City","19, Princeton University Princeton","18, New York University New York City",14 B.Arch Bachelor of Architecture

In [8]:

class form():
    def __init__(self,data):
        self.data=data
        self.next=None
global queue
queue=[]
class data:
    def __init__(self):
        self.head=None
        self.list=[]
        self.queue=[]
    def details(self,info):
        get=form(info)
        get.next=self.head
        self.head=get
    def posdetails(self,pos,info):
        get=form(info)
        temp=self.head
        for i in range(pos-1):
            temp=temp.next
        get.next=temp.next
        temp.next=get
    def enddetails(self,info):
        get=form(info)
        temp=self.head
        while(temp.next is not None):
            temp=temp.next
        get.next=temp.next
        temp.next=get
    def delpos(self,pos):
        prim=self.head
        secon=self.head.next
        for i in range  (pos-1):
            prim=prim.next
            secon=secon.next
        prim.next=secon.next
        secon.next=None
    def delend(self):
        temp=self.head
        temp1=self.head.next
        while(temp1 is not None):
            temp=temp.next
            temp1=temp1.next
        temp.next=temp1.next
class Node:
    def __init__(self,data):
        self.left=None
        self.right=None
        #self.up=10
        self.data=data

class Tree:
    def __init__(self):
        self.rot=[]
    def create(self,root):
        return Node(root)
    def insert(self,node,data):
        info=data 
        if node is None:
            b= self.create(info)
            return b
        elif(info<node.data):
            node.left=self.insert(node.left,info)
        elif(info>=node.data):
            node.right=self.insert(node.right,info)
        return node
    def sort(self,root):   
        arr=self.rot
        def mergesort(self,arr):
            if len(arr)>1:
                mid=len(self.rot)//2
                L=arr[:mid]
                R=arr[mid:]
                mergesort(L)
                mergesort(R)
                i=j=k=0
                while(i<len(L) and j<len(R)):
                    if(L[i]<R[j]):
                        arr[k]=L[i]
                        i=i+1
                        k=k+1
                    else:
                        arr[k]=R[j]
                        j=j+1
                        k=k+1
                while(i<len(L)):
                    arr[k]=L[i]
                    i=i+1
                    k=k+1
                while(j<len(R)):
                    self.rot[k]=R[j]
                    j=j+1
                    k=k+1
        for i in arr:
            print(i)
        arr.clear()
    
    def order(self,root):
        if root is not None:
            self.order(root.left)
            self.rot.append(root.data)
            self.order(root.right)  

print("\n")
num=int(input("\n\t         USER REGISTERATION      "))
for i in range(num):
    i=data()
    print(" Applying Application  ")
    print("\n")
    mail=str(input("  Email address :"))
    i.details(mail)
    nme=str(input(" Name :"))
    i.enddetails(nme)
    phnm=str(input(" Mobile :"))
    i.enddetails(phnm)
    # Phone module
    yrp=str(input(" Type valid address,this will be your user name :"))
    i.enddetails(yrp)
    dob=str(input(" Date of birth (DD-MM-YYYY) :"))
    i.details(dob)
    pas=str(input(" Whether +1 Passed :(s/n)"))
    i.enddetails(pas)
    pas1=str(input(" Whether +2 Passed :(s/n)"))
    i.enddetails(pas1)
    print("\n\t     personal Info   ")
    mark=float(input(" Enter Cut-off mark :"))
    i.details(mark)
    nmep=str(input(" Name of the Parent/Guardian :"))
    i.enddetails(nmep)
    poc=str(input(" Occupation of the Parent :"))
    i.enddetails(poc)
    cmad=str(input(" Communication Adderss :"))
    i.enddetails(cmad)
    perad=str(input(" Permanent Address :"))
    i.enddetails(perad)
    dist=str(input(" District :"))
    i.enddetails(dist)
    grcd=str(input(" Green Card Number :"))
    i.enddetails(grcd)
    tree=Tree()
    val=df[(df['cutoff']>mark-2.5) & (df['cutoff']<mark+2.5)]
    try:
        past_selcourse=val['Selected Course']
        course_analyze=[]
        for k in past_selcourse:
            if k not in course_analyze:
                course_analyze.append(k)
        cursel=tree.create(course_analyze[0])
        for k in range(1,len(course_analyze)):
            tree.insert(cursel,course_analyze[k])
        tree.order(cursel)
        print(" Courses Selected :")
        tree.sort(cursel)
       
        past_selcollege=val['Selected College']
        #      ARRAYS
        college_analyze=[]
        for j in past_selcollege:
            if j not in college_analyze:
                college_analyze.append(j)
        clgsel=tree.create(college_analyze[0])
        for j in range(1,len(college_analyze)):
            tree.insert(clgsel,college_analyze[j])
        print(" College Selected :")
        tree.order(clgsel)
        tree.sort(clgsel)
    except:
        val=df[(df['cutoff']>mark-2.5) & (df['cutoff']<mark)]
        past_selcourse=val['Selected Course']
        course_analyze=[]
        for k in past_selcourse:
            if k not in course_analyze:
                course_analyze.append(k)
        cursel=tree.create(course_analyze[0])
        for k in range(1,len(course_analyze)):
            tree.insert(cursel,course_analyze[k])
        tree.order(cursel)
        print(" Courses Selected :")
        tree.sort(cursel)
       
        past_selcollege=val['Selected College']
        college_analyze=[]
        for j in past_selcollege:
            if j not in college_analyze:
                college_analyze.append(j)
        clgsel=tree.create(college_analyze[0])
        for j in range(1,len(college_analyze)):
            tree.insert(clgsel,college_analyze[j])
        print(" College Selected :")
        tree.order(clgsel)
        tree.sort(clgsel)
    cr1=input("Course 1 :")
    i.enddetails(cr1)
    cr2=input("Course 2 :")
    i.enddetails(cr2)
    clge1=input("College 1 :")
    i.enddetails(clge1)
    clge2=input("College 2 :")
    i.enddetails(clge2)
    cnfrm=input(" Confirm Submission :")
    i.enddetails(cnfrm)
    m=True
    if(cnfrm=='n' or cnfrm=='N'):
        while(m):
            pos=int(input(" What you want to change :"))
            i.delpos(pos)
            source=str(input()) 
            i.posdetails(pos,source)
            cnfrm=input(" Confirm Submission :")
            if(cnfrm=='s' or cnfrm=='S'):
                m=False
    #field_names=['email','name','phone','date of birth','11thmilestone','12thmilestone','cutoff','parent name','occupation of the parent','address','city','greencardnumber','Course 1','Course 2','College1','College2']
    list=[mail,nme,phnm,dob,pas,pas1,mark,nmep,poc,cmad,dist,grcd,cr1,cr2,clge1,clge2]
    with open(r'D:\Book2.csv','a') as f_objects:
            writer_object=writer(f_objects)
            writer_object.writerow(list)
            f_objects.close()

        
    
    print("<.><.><.>")

	         USER REGISTERATION      1
 Applying Application


  Email address :avudai@gmail.com
 Name :Avudaiappan S
 Mobile :9361259521
 Type valid address,this will be your user name :avudai@gmail.com
 Date of birth (DD-MM-YYYY) :25-05-2002
 Whether +1 Passed :(s/n)Yes
 Whether +2 Passed :(s/n)Yes

	     personal Info
 Enter Cut-off mark :194
 Name of the Parent/Guardian :Subramanian
 Occupation of the Parent :Govt Service
 Communication Adderss :19,VenkatachalaPuram,Udumalai Road,Pollachi.
 Permanent Address :19,VenkatachalaPuram,Udumalai Road,Pollachi.
 District :Coimbatore.
 Green Card Number :ASDF36HJk
 Courses Selected :
01 Automation and Robotics
02 Aeronautical Engineering
03 B.Sc Nutrition and Dietetics
06 Chemical Engineering
09 Computer Science and Engineering
12 B.Arch Bachelor of Architecture
15 BE/B.Tech Bachelor of Technology
18 B.Sc Information Technology
 College Selected :
 03,    Stanford University Stanford
03,    Stanford University Stanford
04,   University of California, Berkeley Berkeley
17, Purdue University West Lafayette
Course 1 : B.Sc Nutrition and Dietetics
Course 2 :Computer Science and Engineering
College 1 :Stanford University Stanford
College 2 :University of California, Berkeley Berkeley
 Confirm Submission :S
<.><.><.>

In [ ]:
with open('D:\Book2.csv') as input,open('D:\Book2.csv','w') as output:
    non_blank=(line for line in input if line.strip())
    output.writelines(non_blank)

In [1]:

import pandas as pd
df=pd.read_csv("D:\Book2.csv")
df

,email,name,phone,date of birth,11thmilestone,12thmilestone,cutoff,parent name,occupation of the parent,address,city,greencardnumber,Course 1,Course 2,College1,College2
0,jbutt@gmail.com,James,504/621/8927,13-03-2002,Yes,Yes,178.50,Bhatt,Data Engineer,6649 N Blue Gum St,Hanover,VCGD13HSn,Automation and Robotics,Nursing,Massachusetts Institute of Technology,Stanford University
1,josephine_darakjy@darakjy.org,Josephine,810/292/9388,19-03-2002,Yes,Yes,168.00,Darakjy,Government Service,4 B Blue Ridge Blvd,Lynnway,NVDK12LYg,Petroleum Engineering,Automobile Engineering,Cornell University,Stanford University
2,art@venere.org,Art,856/636/8749,18-04-2002,Yes,Yes,145.50,Venere,Business,8 W Cerritos Ave #54,Leominster,GCVH16AKc,Instrumentation Engineering,Bachelor of Architecture,University of California,University of Michigan
3,lpaprocki@hotmail.com,Lenna,907/385/4412,09-03-2002,Yes,Yes,198.25,Paprocki,Teacher,639 Main St,Hason,HBFR88MLs,Nutrition and Dietetics,Chemical Engineering,Harvard University,Massachusetts Institute of Technology
4,donette.foller@cox.net,Donette,513/570/1893,13-02-2002,Yes,Yes,187.25,Foller,Professor,34 Center St,Hanover,VAKM12VPi,Electronics and Communication Engineering ',Instrumentation Engineering,Stanford University,Stanford University
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,Ava.grace@gmail.com,Ava Grace,576/477/7756,06-08-2002,Yes,Yes,170.22,Giles New,Photographer,"601 Frank Stottile Blvd, Kingston NY 12401",Salinas,cvgfdsae4,Automation and Robotics,Chemical Engineering,University of Washington,Stanford University
195,Elle.mae@gmail.com,Elle mae,265/136/5756,16-02-2003,Yes,Yes,177.58,penelope Cruz,Toy designer,"350 E Fairmount Ave, Lakewood NY 14750",San bernardino,zxcvcxnc5,Automobile Engineering,Computer Science and Engineering,University of Washington,Stanford University
196,Emily.maebh@gmail.com,Emily Maebh,749/235/1366,14-03-2003,Yes,Yes,194.67,Stellan,Shoe designer,"4975 Transit Rd, Lancaster NY 14086",San Diego,vbhgfbgh,Electronics and Communication Engineering,Computer Science and Engineering,Massachusetts Institute of Technology,Harvard University
197,Layla.rose@gmail.com,Layla Rose,458/512/7152,29-03-2003,Yes,Yes,138.07,Skarsgard,Fashion designer,"579 Troy/Schenectady Road, Latham NY 12110",Stockton,ojhgyujhg,Computer Science and Engineering,Automobile Engineering,Carnegie Mellon University,Michigan State University
198,Vivian.cora@gmail.com,Vivian Cora,429/292/8585,25-10-2003,Yes,Yes,108.24,Damian Ohare,Book Author,"5783 So Transit Road, Lockport NY 14094",Visalia,ugfyuif8u,Bachelor of Architecture,Bachelor of Architecture,The University of Texas,Arizona State University